@layer sl {
  @import "tailwindcss/theme.css";
  @import "tailwindcss/utilities.css";
  @import "./components/button/style.css";
  @import "./components/app-bar/style.css";

  :root {
    --s-radius: 0.625rem;

    /* https://zenoo.github.io/mui-theme-creator */
    --s-color-primary-main: #171717;
    --s-color-primary-light: rgb(69, 69, 69);
    --s-color-primary-dark: rgb(16, 16, 16);
    --s-color-primary-contrast-text: #fff;

    --s-color-secondary-main: #f5f5f5;
    --s-color-secondary-light: rgb(247, 247, 247);
    --s-color-secondary-dark: rgb(171, 171, 171);
    --s-color-secondary-contrast-text: rgba(0, 0, 0, 0.87);

    --s-color-text-primary: rgba(0, 0, 0, 0.87);
    --s-color-text-secondary: rgba(0, 0, 0, 0.6);
    --s-color-text-disabled: rgba(0, 0, 0, 0.38);
    --s-color-text-hint: #22194d;

    --s-color-background-default: #fff;
    --s-color-background-paper: #fff;

    --s-color-error-main: #d32f2f;
    --s-color-error-light: #ef5350;
    --s-color-error-dark: #c62828;
    --s-color-error-contrast-text: #fff;

    --s-color-warning-main: #ed6c02;
    --s-color-warning-light: #ff9800;
    --s-color-warning-dark: #e65100;
    --s-color-warning-contrast-text: #fff;

    --s-color-info-main: #0288d1;
    --s-color-info-light: #03a9f4;
    --s-color-info-dark: #01579b;
    --s-color-info-contrast-text: #fff;

    --s-color-success-main: #2e7d32;
    --s-color-success-light: #4caf50;
    --s-color-success-dark: #1b5e20;
    --s-color-success-contrast-text: #fff;

    --s-color-divider: rgba(0, 0, 0, 0.12);
  }

  @theme inline {
    --color-var-primary-main: var(--s-color-primary-main);
    --color-var-primary-light: var(--s-color-primary-light);
    --color-var-primary-dark: var(--s-color-primary-dark);
    --color-var-primary-contrast-text: var(--s-color-primary-contrast-text);

    --color-var-secondary-main: var(--s-color-secondary-main);
    --color-var-secondary-light: var(--s-color-secondary-light);
    --color-var-secondary-dark: var(--s-color-secondary-dark);
    --color-var-secondary-contrast-text: var(--s-color-secondary-contrast-text);

    --color-var-text-primary: var(--s-color-text-primary);
    --color-var-text-secondary: var(--s-color-text-secondary);
    --color-var-text-disabled: var(--s-color-text-disabled);
    --color-var-text-hint: var(--s-color-text-hint);

    --color-var-background-default: var(--s-color-background-default);
    --color-var-background-paper: var(--s-color-background-paper);

    --color-var-error-main: var(--s-color-error-main);
    --color-var-error-light: var(--s-color-error-light);
    --color-var-error-dark: var(--s-color-error-dark);
    --color-var-error-contrast-text: var(--s-color-error-contrast-text);

    --color-var-warning-main: var(--s-color-warning-main);
    --color-var-warning-light: var(--s-color-warning-light);
    --color-var-warning-dark: var(--s-color-warning-dark);
    --color-var-warning-contrast-text: var(--s-color-warning-contrast-text);

    --color-var-info-main: var(--s-color-info-main);
    --color-var-info-light: var(--s-color-info-light);
    --color-var-info-dark: var(--s-color-info-dark);
    --color-var-info-contrast-text: var(--s-color-info-contrast-text);

    --color-var-success-main: var(--s-color-success-main);
    --color-var-success-light: var(--s-color-success-light);
    --color-var-success-dark: var(--s-color-success-dark);
    --color-var-success-contrast-text: var(--s-color-success-contrast-text);

    --color-var-divider: var(--s-color-divider);
  }
}
