---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis placeat ad optio commodi labore ducimus dolor asperiores magni officiis magnam quibusdam consectetur molestiae saepe delectus, fugiat odit vitae repudiandae harum.</p>
</Layout>
